body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f0a10e;
}


.container{
    position: absolute;
    width: 100%;
    height: 100%;
}

.bg1{
    background-image: url("../img/bg1.jpg");
    background-size: 50%;
    background-blend-mode:multiply;
}